body{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica;
    background-color:rgb(8, 14, 20);
    color: #EEE;
    overflow-x: hidden;
    transition: 0.5s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(15, 20, 26);
    width: 100%;
    z-index: 1;
    box-shadow:2px 2px 3px rgb(25, 30, 36);
}
.pages-bar, .social-bar{
    display: flex;
    margin: 0 30px;
}
.pages-bar a, .social-bar a{
    display: flex;
    justify-content: center;
    color: #CCC;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 10px;
    margin: auto 3px;
    font-size: 18px;
}
.currentPage, .pages-bar a:hover{
    border-bottom: 1px solid #CCC;
}
.social-bar a:hover{
    border-radius: 50%;
    background-color: #232433;
    transition: 0.1s;
}
.social-bar a img{
    margin: 0 5px;
    width: 21px;
    filter: brightness(0) invert(1);
}
#section{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#bgHeader{
    background-image:url(../images/bg-header.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    width:100vw ;
    box-shadow: 0px 6px 3px rgb(8, 10, 15) ;
}
#titleName{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600;
}
#perfilContainer{
    width: 250px;
    padding: 20px;
    background-color: rgb(8, 10, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 3px 3px rgb(8, 10, 15) ;
}
#person{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center ;
}
#imagePerfil img{
    margin: 20px;
    width: 250px;
    border-radius: 50%;
}
#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 150px;
    margin-top: 100px;
}
#about h1, #about h2{
    color: #CCC;
    font-weight: 600;
}
#about p{
    display: flex;
    font-size: 20px;
    color: #CCC;
    line-height: 1.2;
    margin: 0 50px;
}
#about ul{
    list-style: none;
    font-size: 20px;
    text-align: left;
    color: #CCC;
}
#about ul li{
    font-size: 20px;
    line-height: 1.3;
}
#appren{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #212233;
}
#appren h1, #project-section h1, #slide-section h1{
    text-transform: uppercase;
    margin: 30px;
}
.appren-section{
    margin: 30px 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 90px;
}
#img-htmlCss{
    position: relative;
    height: 80px;
    left: -20px;
}
#icon-css{
    position: absolute;
    left: 40px;
    top: 25px;
    z-index: 0;
}
.apprenBar{
    width: 70%;
    height: 20px;
    border: 1px solid rgb(93, 93, 114);
    border-radius: 25px;
    margin: 0 40px;
    padding: 1px;
    overflow: hidden;
}
#progress1, #progress2, #progress3, #progress4, #progress5{
    height: 100%;
    background-color: rgb(93, 93, 114); 
    transition: width 1s ease-in-out; 
    border-radius: 25px;
    animation: progressAnimation 3s ease-in-out forwards;
}
#progress1{
    animation: progress1Animation 3s ease-in-out forwards;
}
#progress2{
    animation: progress2Animation 3s ease-in-out forwards;
}
#progress3{
    animation: progress3Animation 3s ease-in-out forwards;
}
#progress4{
    animation: progress4Animation 3s ease-in-out forwards;
}
#progress5{
    animation: progress5Animation 3s ease-in-out forwards;
}
@keyframes progress1Animation {
    0%{
        width: 0;
    }
    100%{
        width:90%;
    }
}
@keyframes progress2Animation {
    0%{
        width: 0;
    }
    100%{
        width:70%;
    }
}
@keyframes progress3Animation {
    0%{
        width: 0;
    }
    100%{
        width:40%;
    }
}
@keyframes progress4Animation {
    0%{
        width: 0;
    }
    100%{
        width:90%;
    }
}
@keyframes progress5Animation {
    0%{
        width: 0;
    }
    100%{
        width:10%;
    }
}
#project-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
#project-section-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
    margin: 50px 0;
}
.project{
    display: flex;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    overflow: hidden;
}
.project img{
    max-width: 100%;
    height: auto;
}
#slide-section{
    background-color: #212233;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-direction: column;
}
#slides{
    display: flex;
    width: 900px;
    height: 600px;
    overflow: hidden;
}
#indicators{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.indicator{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin: 5px;
}
.imgs{
    display: flex;
    flex: 0 0 100%;
    height:100%;
    object-fit: cover;
    transition: transform 0.5 ease-in-out;
}
.imgs:nth-child(2), .selected {
    transition: transform 0.4s ease-in-out;
}
.imgs:nth-child(3) {
    transition: transform 0.8s ease-in-out;
}
.selected{
    background-color: #CCC;
}